{% extends 'base.html' %}
{% block content %}
{% with page_obj.0 as one_post %}
<h1>Все посты пользователя {{ one_post.author.get_full_name }} {{ one_post.author.username }}</h1>

  <h3>Всего постов: {{ posts|length }}</h3>
  {% if user.is_authenticated %}
    {% if one_post.author != request.user %}
      {% if following %}
        <a class="btn btn-lg btn-light"
        href="{% url 'posts:profile_unfollow' one_post.author.username %}" role="button">
          Отписаться
        </a>
      {% else %}
        <a class="btn btn-lg btn-primary"
        href="{% url 'posts:profile_follow' one_post.author.username %}" role="button">
          Подписаться
        </a>
      {% endif %}
    {% endif %}
  {% endif %}
  {% for post in page_obj %}
    {% include 'posts/includes/post_list.html' %}
    {% if post.group is not Null %}
      <a href="{% url 'posts:group_posts' post.group.get_slug %}">
        все записи группы
      </a>
    {% endif %}        
    {% if not forloop.last %}<hr style="clear: both;">{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
{% endwith %}
{% endblock %}